<form autocomplete="off" class="container" id="form">
    <div class="form-floating mt-3 mb-3">
      <input type="text" name="adress" id="adress" class="form-control" placeholder="Endereço" autocomplete="off">
      <label for="adress">Endereço</label>
    </div>
    <div class="row g-1 mb-3">
      <div class="col-md-2">
        <div class="form-floating">
          <input type="text" name="area-code" id="area-code" class="form-control" placeholder="77">
          <label for="area-code">Code</label>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-floating">
          <input type="text" class="form-control" name="phone" id="phone" placeholder="Phone">
          <label for="phone">Telefone</label>
        </div>
      </div>
    </div>
    <div class="form-floating mb-3">
      <input type="text" name="cpf" id="cpf" class="form-control" placeholder="CPF">
      <label for="cpf">CPF</label>
    </div>
    <button class="btn btn-success mb-3" id="env">Enviar</button>
</form>