@charset "UTF-8";

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    background: white url('../img/cena01.webp') no-repeat center center fixed;
    background-size: cover;
    box-sizing: border-box;

}

header {
    margin-top: 5px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.41);
    color: rgb(0, 0, 0);
    text-shadow: 2px 1px 15px black;
}

header > h1 {
    padding-top: 40px;
    font-variant: small-caps;
    min-width: 300px;
    max-width: 500px;
    text-align: center;
    margin: auto;
    line-height: 40px;
}

header > nav {
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 10px;

}

header > nav > a{
    font-size: 1.4em;
    padding-left: 10px;
    text-decoration: none;
    color: black;
}

header a:hover {
    text-decoration: underline;
}

header nav > input {
    width: 60px;
    height: 30px;
    appearance: none;
    background-color: black;
    border-radius: 2rem;
    cursor: pointer;
    position: absolute;
    right: 0;
}

nav > input::before {
    content: "";
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    transition: 0.3s;
}

nav > input:checked {
    background: white;
}

nav > input:checked::before {
    background-color: black;
    transform: translateX(100%);
}

main {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    background-color: rgba(255, 255, 255, 0.41);
    margin-bottom: 40px;
    padding-bottom: 20px;
}

.container {
    position: relative;
    width: 85%;
    height: 85%;
    padding: 20px;
    margin: 20px 0;
    text-align: center;
    background-color: lightgray;
    border-radius: 20px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.329);
}

.container h1 {
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
    font-variant: small-caps;
    cursor: pointer;
}

.container img {
    display: block;
    margin: auto;
    width: 100%;
}

.container span {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 20px;
    font-size: 1.8em;
}

.container span::after {
    content: ' \00a0 em até 12x no cartão';
}

.compra {
    display: flex;
    margin: auto;
    margin-top: 5.5%;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 150px;
    height: 50px;
    font-size: 1.5em;
    font-variant: small-caps;
    color: rgb(28, 28, 28);
    background-image: linear-gradient(to bottom, yellow, rgb(223, 145, 0));
    border: none;
    border-radius: 20px;
}

.compra:hover {
    background-image: linear-gradient(to bottom, rgb(255, 255, 86), rgb(255, 182, 46));
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(60, 60, 60);
    height: 300px;
    width: 100%;
    color: white;
    background-image: url('../img/-jogo-fundo-bola-bonito-abstratos-escuro-pokeball-vetor-eps_csp38801841.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;
}

footer a {
    display: flex;
    align-items: center;
    gap: 5px;
    color: white;
    text-decoration: none;
}

footer ul {
    padding: 0 0 0 20px;
    list-style-type: none;
    list-style-position: inside;
    columns: 2;
    font-size: 1.5em;
    width: 80%;
}

footer li {
    padding: 5px;
}

@media screen and (min-width: 768px) {
    main {
        grid-template-columns: repeat(2, 1fr);
    }

    .container {
        width: 85%;
        height: 85%;
    }
}

@media screen and (min-width: 998px) {

    main {
        grid-template-columns: repeat(3,1fr)
    }

    .container {
        width: 85%;
        height: 85%;
    }
}